$color-primary-blue: rgb(88, 152, 186);
$color-primary-sand: rgb(252, 240, 221);
$color-primary-dark-blue: rgb(60, 82, 113);
$color-primary-orange: rgb(235, 160, 62);
$color-primary-dark-sand: rgb(216, 209, 198);
$color-primary-dark: rgb(96, 86, 80);
$content-width: 1280px;
