.account-window {
    position: fixed;
    background-color: rgb(255, 253, 249);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    top: 20%;
    bottom: 25%;
    left: 32%;
    right: 32%;
    box-shadow: 0px 0px 90px 0px rgb(27, 44, 54);
    gap: 14px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.account-window::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(88 152 186 / 40%);
}

.account-window::-webkit-scrollbar {
    width: 6px;
}

.account-window::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.164);
}

.account-window h2 {
    font-size: 33px;
    font-weight: 600;
    color: rgba(27, 52, 67, 0.7);
    margin-top: 15px;
    margin-bottom: 15px;
}

.account-window h4 {
    width: 100%;
    position: relative;
    right: -24px;
    color: rgba(17, 32, 42, 0.7);
}

.account-window h5 {
    color: rgba(17, 32, 42, 0.7);
    transform: translateY(45px);
}

.account-window button {
    background-color: rgba(88, 152, 186, 0.7);
    padding: 20px 100px 20px 100px;
    border: 0px;
    transform: translateY(20px);
    border-radius: 2px;
    color: white;
    font-size: 18px;
}

.account-window h5 {
    padding-bottom: 25px;
}

.account-window button:hover {
    background-color: rgba(127, 165, 186, 0.7);
}

.account-window button:active {
    background-color: rgba(62, 143, 187, 0.7);
}

.double-container input,
.account-window input {
    background-color: rgb(255, 253, 249);
    width: 347px;
    border: 2px solid rgba(88, 152, 186, 0.7);
    border-radius: 3px;
    padding: 14.5px 13px;
    font-size: 15px;
    transition: 0.01s;
    color: rgb(39, 54, 63);
}

.double-container input {
    width: 40%;
}

.double-container {
    display: flex;
    flex-direction: row;
    gap: 27px;
}

input:hover,
input:focus,
input:active {
    outline: 0;
    outline-offset: 0;
}

.account-window input:hover {
    border: 2px solid rgba(63, 103, 124, 0.7);
}

.account-window input:focus {
    border: 2px dashed rgba(88, 152, 186, 0.7);
}

.account-window input {
    background-color: rgb(255, 253, 249);
}

.account-window input {
    background-color: rgb(255, 253, 249);
}

.account-background {
    position: absolute;
    background-color: rgba(123, 123, 123, 0.484);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    transition: 0.2s;
    position: fixed;
}

.account-window__header {
    background-color: rgb(137 179 197);
    position: sticky;
    height: 45px;
    width: 100%;
    top: 0px;
    z-index: 3;
}

.account-window__exit {
    font-size: 50px;
    color: rgb(255, 253, 249);
    position: relative;
    left: 357px;
    top: -6px;
    font-weight: 100;
    cursor: pointer;
}

.account-window .account-window__checkbox,
.account-window .account-window__checkbox:hover,
.account-window .account-window__checkbox:active,
.account-window .account-window__checkbox:focus {
    width: 15px;
    height: 15px;
    position: relative;
    left: -156px;
}

.account-window__checkbox::after {
    position: relative;
    content: 'Show password';
    left: 21px;
    color: rgba(17, 32, 42, 0.7);
    font-weight: 500;
    font-size: 13px;
    width: 100px;
    display: block;
}

@media (max-width: 768px) {
    .account-window {
        position: fixed;
        background-color: rgb(247, 200, 105);
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 2px;
        top: 20%;
        bottom: 25%;
        left: 32%;
        right: 32%;
        box-shadow: 0px 0px 90px 0px rgb(27, 44, 54);
        gap: 14px;
        overflow-x: scroll;
        overflow-x: hidden;
    }
}
