.basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-contain {
    display: flex;
    align-self: start;
    gap: 10px;
}

.basket-title-img {
    width: 35px;
}
.basket-title {
    align-self: start;
    font-size: 32px;
}

.products-basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.basket-item {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    border: 1px solid rgb(88, 152, 186, 0.5);
    border-radius: 20px;
    @include media-tablet {
        gap: 20px;
    }
    @include media-mobile {
        gap: 5px;
        flex-direction: column;
    }
}

.product-img {
    width: 70px;
}

.product-title {
    align-self: flex-end;
    font-weight: bold;
}

.product-price {
    font-size: bold;
}

.total-sum-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    padding: 50px;
    gap: 10px;
}

.product-price-container {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}
.total-button {
    background-color: rgb(137 179 197);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 2px solid rgba(239, 237, 237, 0.5);
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

.total-sum {
    text-align: end;
    font-weight: bold;
}

.total-button:hover {
    color: $color-primary-sand;
    text-shadow: 1px 1px 1px #1f1f1f9c;
    box-shadow: 4px 4px 4px rgba(28, 28, 28, 0.438);
}

.how-many-basket {
    color: $color-primary-dark-blue;
}

.input-promocode {
    border: 2px solid $color-primary-blue;
    border-radius: 20px;
    height: 25px;
}
