.main-title {
    color: $color-primary-sand;
    text-align: center;
    text-shadow: 2px 2px 2px #1f1f1f;
    font-size: 64px;
    padding-top: 40px;
    @include media-tablet {
        font-size: 55px;
        padding-top: 20px;
    }
    @include media-mobile {
        font-size: 35px;
        padding-top: 10px;
    }
}

.home-fish__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include media-tablet {
        gap: 5px;
    }
    @include media-mobile {
        gap: 5px;
    }
}

.home-fish__img {
    width: 80px;
    height: 60px;
    align-self: center;
    @include media-tablet {
        width: 70px;
        height: 50px;
    }

    @include media-mobile {
        width: 60px;
        height: 40px;
    }
}

.home-fish__item {
    width: 110px;
    height: 110px;
    border: 3px solid $color-primary-blue;
    border-radius: 55%;
    background-image: linear-gradient(to top, #00bcd2, #79caeb, #b6d8f7, #e2e9fc, #ffffff);
    display: flex;
    flex-direction: column;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 3;
    @include media-tablet {
        width: 100px;
        height: 100px;
    }
    @include media-mobile {
        border: 3px solid $color-primary-dark-blue;
        width: 90px;
        height: 90px;
    }
}

@keyframes bubble {
    0% {
        width: 114px;
    }
    10% {
        width: 116px;
    }
    20% {
        width: 118px;
    }
    30% {
        width: 120px;
    }
    40% {
        width: 122px;
    }
    50% {
        width: 124px;
    }
    60% {
        width: 126px;
    }
    70% {
        width: 124px;
    }
    80% {
        width: 122px;
    }
    90% {
        width: 120px;
    }
    100% {
        width: 118px;
    }
}

@media (max-width: 380px) {
    @keyframes bubble {
        0% {
            width: 100px;
        }
        10% {
            width: 101px;
        }
        20% {
            width: 102px;
        }
        30% {
            width: 103px;
        }
        100% {
            width: 102px;
        }
    }
}

.home-fish__item:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px 1px #3b3b3b;
    animation: bubble ease-in forwards 0.3s;
}

.home-fish__title {
    color: $color-primary-dark-sand;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    @include media-tablet {
        font-size: 18px;
    }
    @include media-mobile {
        font-size: 12px;
    }
}

.home-fish-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    @include media-tablet {
        padding-top: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    @include media-mobile {
        padding-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
