.main-title {
    color: $color-primary-sand;
    text-align: center;
    text-shadow: 2px 2px 2px #1f1f1f;
    font-size: 64px;
    padding-top: 40px;
    @include media-tablet {
        font-size: 55px;
        padding-top: 20px;
    }
    @include media-mobile {
        font-size: 35px;
        padding-top: 10px;
    }
}

.home-fish__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include media-tablet {
        gap: 5px;
    }
    @include media-mobile {
        gap: 5px;
    }
}

.home-fish__img {
    margin-top: 20px;
    width: 80px;
    height: 60px;
    align-self: center;
    @include media-tablet {
        margin-top: 20px;
        width: 70px;
        height: 50px;
    }

    @include media-mobile {
        margin-top: 20px;
        width: 60px;
        height: 40px;
    }
}

.home-fish__item {
    width: 110px;
    height: 110px;
    border: 3px solid $color-primary-blue;
    border-radius: 55%;
    background-image: linear-gradient(to top, #00bcd2, #79caeb, #b6d8f7, #e2e9fc, #ffffff);
    display: flex;
    flex-direction: column;
    align-self: center;
    @include media-tablet {
        width: 100px;
        height: 100px;
    }
    @include media-mobile {
        border: 3px solid $color-primary-dark-blue;
        width: 90px;
        height: 90px;
    }
}

.home-fish__item:hover {
    cursor: pointer;
    transform: translate3d(0, 2px, -2px);
    box-shadow: 6px 6px 6px #3b3b3b;
}

.home-fish__title {
    color: $color-primary-dark-sand;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    @include media-tablet {
        font-size: 18px;
    }
    @include media-mobile {
        font-size: 12px;
    }
}

.home-fish-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    @include media-tablet {
        padding-top: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    @include media-mobile {
        padding-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
