//  base/global styles

@import './global/const';
@import './global/media';
@import './global/global';
@import './global/hamburger';
@import './global/loginRegist';
@import './global/buble';

// pages styles

@import './pages/home.scss';
@import './pages/shop.scss';
@import './pages/basket.scss';
@import './pages/about.scss';
