//  base/global styles

@import './global/const';
@import './global/media';
@import './global/global';
@import './global/hamburger';
@import './global/loginRegist';

// pages styles

@import './pages/home.scss';
