* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

html,
body {
    height: 100%;
    font-family: Montserrat, sans-serif;
}

.body-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-color: rgb(252, 240, 221);
}

.header {
    z-index: 100;
    padding: 0 50px;
    background-color: rgb(137, 179, 197);
    position: sticky;
    top: 0;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .header {
        padding: 0 25px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .header {
        padding: 0 15px;
    }
}

.main {
    flex: 1 1 auto;
    padding: 0 50px;
    background: center/cover, rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
    background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .main {
        padding: 0 25px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .main {
        padding: 0 15px;
    }
}

.footer {
    z-index: 100;
    padding: 0 50px;
    background-color: rgb(96, 86, 80);
}
@media (min-width: 768px) and (max-width: 1180px) {
    .footer {
        padding: 0 25px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .footer {
        padding: 0 15px;
    }
}

.header-container,
.footer-container {
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}
@media (min-width: 300px) and (max-width: 767px) {
    .header-container,
    .footer-container {
        font-size: 14px;
        padding: 2px 0 2px 0;
    }
}

.footer-container {
    padding: 10px 0 5px 0;
}
@media (min-width: 300px) and (max-width: 767px) {
    .footer-container {
        padding: 4px 0 2px 0;
    }
}

.logo-container {
    display: flex;
    gap: 20px;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .logo-container {
        gap: 10px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .logo-container {
        gap: 10px;
    }
}

.logo_link {
    cursor: pointer;
    text-decoration: none;
}

.logo_img {
    border: 2px solid white;
    border-radius: 55%;
    width: 45px;
    height: 45px;
    padding: 5px;
}

.logo_img:hover {
    background-color: rgb(252, 240, 221);
}

.logo-userName {
    color: rgb(252, 240, 221);
    text-shadow: 1px 1px 1px rgba(31, 31, 31, 0.6117647059);
}

.navigation-cotainer {
    display: flex;
    justify-content: end;
    align-items: center;
}
@media (min-width: 300px) and (max-width: 767px) {
    .navigation-cotainer {
        display: none;
    }
}

.navigation {
    display: flex;
    gap: 30px;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .navigation {
        gap: 20px;
    }
}

.navigation-item {
    list-style-type: none;
    cursor: pointer;
}

.navigation-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
@media (min-width: 300px) and (max-width: 767px) {
    .navigation-link {
        font-size: 14px;
    }
}

.navigation-link:hover,
.navigation-item:hover {
    list-style-type: none;
    color: rgb(252, 240, 221);
    text-shadow: 1px 1px 1px rgba(31, 31, 31, 0.6117647059);
}

.error-404-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 30px 30px 0 30px;
    margin: 100px 350px 100px 350px;
    border-radius: 25px;
    border: solid 5px rgb(60, 82, 113);
}
@media (min-width: 768px) and (max-width: 1180px) {
    .error-404-container {
        padding: 20px 20px 0 20px;
        margin: 100px 150px 100px 150px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .error-404-container {
        padding: 10px 10px 0 10px;
        margin: 100px 50px 100px 50px;
    }
}

.title-404 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 82, 113);
    text-shadow: 1px 1px 1px rgba(31, 31, 31, 0.6117647059);
}
@media (min-width: 768px) and (max-width: 1180px) {
    .title-404 {
        font-size: 30px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .title-404 {
        font-size: 25px;
    }
}

.foots-404-container {
    display: flex;
}

.img__404 {
    max-width: 100%;
    height: auto;
}

.shipping-container,
.shop-container,
.about-container,
.contacts-container {
    font-size: 74px;
    color: rgb(216, 209, 198);
}

.profile-scroll {
    position: fixed;
    left: 7%;
    right: 7%;
    overflow-x: hidden;
    bottom: 50px;
    top: 60px;
}

.profile {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    color: rgba(27, 52, 67, 0.7);
    font-weight: 500;
    gap: 4px;
    width: 100%;
}

.profile input {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 20px;
    color: rgba(27, 52, 67, 0.7);
    border-bottom: solid rgba(59, 134, 182, 0.7) 2px;
    border-top: solid rgba(59, 135, 182, 0) 2px;
    border-left: solid rgba(59, 135, 182, 0) 2px;
    border-right: solid rgba(59, 135, 182, 0) 2px;
    padding: 5px;
    border-radius: 2px;
    width: 355px;
}

.profile::before {
    content: '';
    height: 100em;
    width: 10px;
    position: fixed;
    left: 12%;
    animation: borderGradient1 infinite 5s linear;
}

.profile::after {
    content: '';
    height: 100em;
    width: 10px;
    position: fixed;
    right: 12%;
    animation: borderGradient1 infinite 3s linear;
}

.profile-avatar {
    background-image: url(/src/assets/images/124069.png);
    background-position: center;
    background-size: 100%;
    height: 120px;
    width: 120px;
    border-radius: 80px;
}

.profile-adress {
    margin-top: 20px;
    display: flex;
    gap: 130px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 20px;
}

@keyframes borderGradient1 {
    0% {
        border: dotted rgba(27, 52, 67, 0.7) 20px;
    }
    25% {
        border: dotted rgba(47, 80, 100, 0.7) 20px;
    }
    50% {
        border: dotted rgba(59, 134, 182, 0.7) 20px;
    }
    100% {
        border: dotted rgba(27, 52, 67, 0.7) 20px;
    }
}
.profile-button {
    margin-top: 25px;
    font-size: 19px;
    background-color: rgba(59, 134, 182, 0.7);
    width: 280px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.931);
    border: 0px;
    padding: 7px;
}

.input-title {
    font-size: 15px;
    font-weight: bold;
    transform: translateX(-165px);
}

.profile-button:hover {
    background-color: rgba(70, 123, 156, 0.7);
    cursor: pointer;
}

.profile-button:active {
    background-color: rgba(38, 89, 121, 0.7);
    cursor: pointer;
}

.profile-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(88, 152, 186, 0.4);
}

.profile-scroll::-webkit-scrollbar {
    width: 6px;
}

.profile-scroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.164);
}

.card-fish__background {
    position: absolute;
    background-color: rgba(123, 123, 123, 0.484);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    transition: 0.2s;
    position: fixed;
    z-index: 999;
}

.card-fish__container {
    transition: 0.2s;
    position: fixed;
    background-color: rgb(234, 237, 240);
    color: rgb(135, 165, 194);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    top: 15%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    box-shadow: 0px 0px 90px 0px rgb(27, 44, 54);
    gap: 14px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.card-fish__img {
    width: 450px;
    height: 250px;
    transition: 0.1s ease-in;
}

.card-fish__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-fish__arrow_left {
    position: absolute;
    height: 250px;
    width: calc((100% - 450px) / 2);
    z-index: 4;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 180, 214);
    font-size: 80px;
    color: rgb(227, 252, 255);
    transform: rotate(180deg);
    cursor: pointer;
    user-select: none;
    text-shadow: 0px 0px 14px rgb(91, 147, 180);
}

.card-fish__arrow_right {
    position: absolute;
    height: 250px;
    width: calc((100% - 450px) / 2);
    z-index: 4;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 180, 214);
    font-size: 80px;
    color: rgb(227, 252, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 70px;
    text-shadow: 0px 0px 14px rgb(91, 147, 180);
    cursor: pointer;
    user-select: none;
}

.card-fish__arrow_right:hover,
.card-fish__arrow_left:hover {
    background-color: rgb(125, 159, 191);
}

.card-fish__arrow_right:active,
.card-fish__arrow_left:active {
    background-color: rgb(109, 140, 170);
}

.card-fish__title {
    margin-top: 12px;
    font-size: 40px;
}

.card-fish__description {
    height: 181px;
    margin-top: 5px;
    width: 97%;
    background-color: rgb(143, 180, 214);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 20px;
    overflow-y: scroll;
}

.card-fish__price {
    font-size: 40px;
    color: rgb(143, 180, 214);
    position: absolute;
    bottom: 30px;
    right: 28px;
    text-decoration: underline;
}

.card-fish__description::-webkit-scrollbar {
    width: 6px;
}

.card-fish__description::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(88, 152, 186, 0.4);
}

.card-fish__description::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.164);
}

.card-fish__button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 70px;
    width: 250px;
    font-size: 30px;
    background-color: rgb(143, 180, 214);
    color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.card-fish__exit {
    position: absolute;
    top: 15px;
    right: 18px;
    height: 40px;
    width: 40px;
    font-size: 50px;
    background-color: rgb(143, 180, 214);
    color: white;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-fish__button:hover,
.card-fish__exit:hover {
    background-color: rgb(139, 174, 207);
}

.card-fish__button:active,
.card-fish__exit:active {
    background-color: rgb(103, 134, 163);
}

.hamburger__line::after,
.hamburger::after,
.hamburger::before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgb(252, 240, 221);
    width: 100%;
    height: 2px;
    transition: all 0.8s ease 0s;
}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    margin-top: 15px;
    margin-right: 10px;
}
@media (min-width: 300px) and (max-width: 767px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 15px;
        z-index: 11;
    }
}
.hamburger::before {
    top: 0;
    left: 0;
    z-index: 11;
}
.hamburger::after {
    bottom: 0;
    left: 0;
    z-index: 11;
}

.hamburger__line::after {
    height: 2px;
    left: 0;
    top: 10px;
    z-index: 11;
}

.active-icon::before {
    top: 10px;
    transform: rotate(90deg);
}
.active-icon::after {
    transform: rotate(90deg);
    left: 20px;
    bottom: 10px;
}

.active-icon .hamburger__line::after {
    transform: rotate(90deg);
    left: 10px;
}

.hamburger:hover,
.header__navigation_active:hover {
    cursor: pointer;
}

.header__navigation_active {
    display: block;
    transition-delay: 2s, 4ms;
}

.header__navigation_active .navigation {
    background-color: rgb(88, 152, 186);
    position: fixed;
    padding-top: 208px;
    width: 320px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 8;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 35px 1000px rgba(19, 18, 18, 0.486);
}

.modal-open {
    overflow: hidden;
}

.account-window {
    transition: 0.2s;
    position: fixed;
    background-color: rgb(255, 253, 249);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 2px;
    top: 15%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    box-shadow: 0px 0px 90px 0px rgb(27, 44, 54);
    gap: 14px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.account-window::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(88, 152, 186, 0.4);
}

.account-window::-webkit-scrollbar {
    width: 6px;
}

.account-window::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.164);
}

.account-window h2 {
    font-size: 33px;
    font-weight: 600;
    color: rgba(27, 52, 67, 0.7);
    margin-top: 15px;
    margin-bottom: 15px;
}

.account-window h4 {
    width: 100%;
    position: relative;
    right: -24px;
    color: rgba(17, 32, 42, 0.7);
}

.account-window h5 {
    color: rgba(17, 32, 42, 0.7);
    transform: translateY(45px);
}

.account-window button {
    background-color: rgba(88, 152, 186, 0.7);
    padding: 20px 23%;
    border: 0px;
    transform: translateY(20px);
    border-radius: 2px;
    color: white;
    font-size: 18px;
}

.account-window h5 {
    padding-bottom: 25px;
}

.account-window button:hover {
    background-color: rgba(127, 165, 186, 0.7);
}

.account-window button:active {
    background-color: rgba(62, 143, 187, 0.7);
}

.double-container input,
.account-window input,
.double-container select,
.account-window select {
    background-color: rgb(255, 253, 249);
    width: 85%;
    border: 2px solid rgba(88, 152, 186, 0.7);
    border-radius: 3px;
    padding: 14.5px 13px;
    font-size: 15px;
    transition: 0.01s;
    color: rgb(39, 54, 63);
}

.double-container .errorInput,
.account-window .errorInput,
.double-container .errorInput,
.account-window .errorInput {
    background-color: rgb(255, 253, 249);
    border: 2px solid rgba(255, 72, 72, 0.7);
    border-radius: 3px;
    transition: 0.01s;
    color: rgb(39, 54, 63);
}

.double-container .errorInput:hover,
.account-window .errorInput:hover {
    border: 2px solid rgba(199, 58, 58, 0.7);
}

.double-container .errorInput:active,
.account-window .errorInput:active,
.double-container .errorInput:focus,
.account-window .errorInput:focus {
    border: 2px dashed rgba(223, 66, 66, 0.7);
}

.double-container input {
    width: 45%;
}

.account-window .double-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
}

select:hover,
select:focus,
select:active,
input:hover,
input:focus,
input:active {
    outline: 0;
    outline-offset: 0;
}

.account-window input:hover,
.account-window select:hover {
    border: 2px solid rgba(63, 103, 124, 0.7);
}

.account-window input:focus,
.account-window select:focus {
    border: 2px dashed rgba(88, 152, 186, 0.7);
}

.account-window input,
.account-window select {
    background-color: rgb(255, 253, 249);
}

.account-window input {
    background-color: rgb(255, 253, 249);
}

.account-background {
    position: absolute;
    background-color: rgba(123, 123, 123, 0.484);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    transition: 0.2s;
    position: fixed;
    z-index: 999;
}

.account-window__header {
    background-color: rgb(137, 179, 197);
    position: sticky;
    width: 100%;
    z-index: 3;
    top: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.account-window__exit {
    font-size: 50px;
    color: rgb(255, 253, 249);
    margin-right: 15px;
    cursor: pointer;
}

.account-window .account-window__checkbox,
.account-window .account-window__checkbox:hover,
.account-window .account-window__checkbox:active,
.account-window .account-window__checkbox:focus,
.account-window .account-window__checkbox-def,
.account-window .account-window__checkbox-def:hover,
.account-window .account-window__checkbox-def:active,
.account-window .account-window__checkbox-def:focus,
.account-window .account-window__checkbox-same,
.account-window .account-window__checkbox-same:hover,
.account-window .account-window__checkbox-same:active,
.account-window .account-window__checkbox-same:focus {
    position: sticky;
    width: 15px;
    height: 15px;
    right: 421px;
    margin-left: 15px;
}

.account-window__checkbox::after {
    position: relative;
    content: 'Show password';
    left: 21px;
    color: rgba(17, 32, 42, 0.7);
    font-weight: 500;
    font-size: 13px;
    width: 100px;
    display: block;
}

.error {
    color: rgb(255, 103, 103);
    font-weight: 500;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.account-window .sign-link {
    color: rgb(84, 84, 215);
    cursor: pointer;
}

.account-window .sign-link:hover {
    color: rgb(53, 53, 201);
    text-decoration: underline;
}

.account-window__checkbox-def::after {
    position: relative;
    content: 'Set as default address';
    left: 21px;
    color: rgba(17, 32, 42, 0.7);
    font-weight: 500;
    font-size: 13px;
    width: 150px;
    display: block;
}

.account-window__checkbox-same::after {
    position: relative;
    content: 'Also use as billing address';
    left: 21px;
    color: rgba(17, 32, 42, 0.7);
    font-weight: 500;
    font-size: 13px;
    width: 170px;
    display: block;
}

@media (max-width: 768px) {
    .account-window {
        position: fixed;
        background-color: rgb(255, 253, 249);
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 2px;
        left: 5%;
        right: 5%;
        box-shadow: 0px 0px 90px 0px rgb(27, 44, 54);
        gap: 14px;
        overflow-x: scroll;
        overflow-x: hidden;
    }
    .account-window h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgba(27, 52, 67, 0.7);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .double-container input,
    .account-window input,
    .double-container select,
    .account-window select {
        background-color: rgb(255, 253, 249);
        width: 85%;
        border: 2px solid rgba(88, 152, 186, 0.7);
        border-radius: 3px;
        padding: 15.5px 15px;
        font-size: 12px;
        transition: 0.01s;
        color: rgb(39, 54, 63);
    }
    .account-window h4 {
        width: 100%;
        position: relative;
        right: -24px;
        color: rgba(17, 32, 42, 0.7);
        font-size: 14px;
    }
    .double-container input {
        width: 45%;
    }
}
@media (max-width: 380px) {
    .account-window {
        position: fixed;
        background-color: rgb(255, 253, 249);
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 2px;
        top: 0%;
        bottom: 0%;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 90px 0px rgb(27, 44, 54);
        gap: 14px;
        overflow-x: scroll;
        overflow-x: hidden;
    }
    .account-window h2 {
        font-size: 23px;
        font-weight: 600;
        color: rgba(27, 52, 67, 0.7);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .double-container input,
    .account-window input,
    .double-container select,
    .account-window select {
        background-color: rgb(255, 253, 249);
        width: 85%;
        border: 2px solid rgba(88, 152, 186, 0.7);
        border-radius: 3px;
        padding: 15.5px 15px;
        font-size: 12px;
        transition: 0.01s;
        color: rgb(39, 54, 63);
    }
    .account-window h4 {
        width: 100%;
        position: relative;
        right: -24px;
        color: rgba(17, 32, 42, 0.7);
        font-size: 14px;
    }
    .double-container input {
        width: 45%;
    }
}
.main-title {
    color: rgb(252, 240, 221);
    text-align: center;
    text-shadow: 2px 2px 2px #1f1f1f;
    font-size: 64px;
    padding-top: 40px;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .main-title {
        font-size: 55px;
        padding-top: 20px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .main-title {
        font-size: 35px;
        padding-top: 10px;
    }
}

.home-fish__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .home-fish__container {
        gap: 5px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .home-fish__container {
        gap: 5px;
    }
}

.home-fish__img {
    margin-top: 20px;
    width: 80px;
    height: 60px;
    align-self: center;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .home-fish__img {
        margin-top: 20px;
        width: 70px;
        height: 50px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .home-fish__img {
        margin-top: 20px;
        width: 60px;
        height: 40px;
    }
}

.home-fish__item {
    width: 110px;
    height: 110px;
    border: 3px solid rgb(88, 152, 186);
    border-radius: 55%;
    background-image: linear-gradient(to top, #00bcd2, #79caeb, #b6d8f7, #e2e9fc, #ffffff);
    display: flex;
    flex-direction: column;
    align-self: center;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .home-fish__item {
        width: 100px;
        height: 100px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .home-fish__item {
        border: 3px solid rgb(60, 82, 113);
        width: 90px;
        height: 90px;
    }
}

.home-fish__title {
    color: rgb(216, 209, 198);
    font-size: 22px;
    font-weight: bold;
    align-self: center;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .home-fish__title {
        font-size: 18px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .home-fish__title {
        font-size: 12px;
    }
}

.home-fish-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
@media (min-width: 768px) and (max-width: 1180px) {
    .home-fish-container {
        padding-top: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .home-fish-container {
        padding-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.shop-container {
    display: grid;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) and (max-width: 1420px) {
    .shop-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

.shop-fish__container {
    padding: 10px;
    background-color: rgba(115, 174, 210, 0.6);
    border-radius: 20px;
    border: 3px solid rgba(59, 134, 182, 0.1);
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-self: center;
}
@media (min-width: 300px) and (max-width: 767px) {
    .shop-fish__container {
        padding: 5px;
    }
}

.shop-fish__container:hover {
    box-shadow: 4px 4px 4px 4px rgba(28, 28, 28, 0.438);
    cursor: pointer;
}

.shop-fish__img {
    width: 405px;
    height: 275px;
    border-radius: 20px;
    align-self: center;
}
@media (min-width: 768px) and (max-width: 1420px) {
    .shop-fish__img {
        width: 335px;
        height: 205px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .shop-fish__img {
        width: 305px;
        height: 175px;
    }
}

.shop-fish__item {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.shop-fish__title {
    color: rgb(252, 240, 221);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(31, 31, 31, 0.6117647059);
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 1420px) {
    .shop-fish__title {
        font-size: 20px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .shop-fish__title {
        font-size: 18px;
    }
}

.shop-fish__description {
    color: white;
    font-size: 20px;
    align-self: center;
    line-height: 1.2;
    text-align: justify;
}
@media (min-width: 768px) and (max-width: 1420px) {
    .shop-fish__description {
        font-size: 18px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .shop-fish__description {
        font-size: 12px;
    }
}

.shop-fish__cost-container {
    display: flex;
    gap: 5px;
    color: rgb(252, 240, 221);
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 1180px) {
    .shop-fish__cost-container {
        font-size: 20px;
    }
}
@media (min-width: 300px) and (max-width: 767px) {
    .shop-fish__cost-container {
        font-size: 18px;
    }
}

.shop-fish__button {
    background-color: rgb(137, 179, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 2px solid rgba(239, 237, 237, 0.5);
    border: 1px 1px 1px rgba(31, 31, 31, 0.6117647059);
    cursor: pointer;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

.shop-fish__button:hover {
    color: rgb(252, 240, 221);
    text-shadow: 1px 1px 1px rgba(31, 31, 31, 0.6117647059);
    box-shadow: 4px 4px 4px rgba(28, 28, 28, 0.438);
}

/*# sourceMappingURL=style.css.map */
